.loginCont{
  height: 350px;
  display: flex;
  flex-direction: column;

  padding: 10px;
  text-align: center;
  font-family: 'Kirsty';
  background-color: #163640;
  box-shadow: 5px 5px 10px rgb(6, 6, 6);
  width: 300px;
}


.loginForm{
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 20px;
}
button{
    color: #E0FFE9;
    background-color:#09453E;
    margin-top: 20px;
    font-family: 'Kirsty';
    height:25px;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
}
button:hover{
    background-color: #71DADA;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
    color:#09453E


}
.loginFormInput{
  width: 75%;
}
input{
    height: 25px;
    margin: 5px;
    background-color: #163640;
    color: #71DADA;
    border: 1px solid #dadf60;
    padding: 5px;
    border-radius: 2px;

}

.radio-slider {
    display: flex;
    justify-content: space-between;
    width: 170px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    gap: 0px;
}
.radio-slider input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .radio-slider label {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    background-color: #163640;
    color: #71DADA;
    border: 1px solid #dadf60;
    transition: background-color 0.4s ease;

    position: relative;
  }

  .radio-slider input[type="radio"] + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .radio-slider label:hover {
    background-color: #cccccc21;
  }

  .radio-slider input[type="radio"]:checked + label {
    background-color: #dadf60;
    color: #fff;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.524) ;
  }

.demoUser{
  cursor: pointer;
  color: #71DADA;
  margin: 5px;
  border: 1px solid #dadf60;
  padding: 5px;
  font-size: 20px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;

}
.demoUser:hover{
  background-color: #dadf60;
  color:#163640;
  border:none;
  box-shadow: 2px 2px 2px black;
}

h1{
  color: #71DADA;
}
.loginBtn{
  background-color: #dadf60;
  color:#09453E;
  height: 40px;
  width: 75px;
  font-size: 17px;
  font-weight: 600;
}

.loginbtnCont{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.signUpTitle{
  color:#dadf60;
  font-size: xx-large;
  margin: 10px;
}


.signUpCont{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  font-family: 'Kirsty';
  background-color: #163640;
  box-shadow: 5px 5px 10px rgb(6, 6, 6);
  width: 400px;
}

.signUpSect{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.signUpSecHead{
  color:#71DADA;
  text-align: left;
  margin-left: 20px;
}

#submitSignup{
  width:auto
}
