.taskTile{
    background-color:#0A4740;
    width: 150px;
    min-width: 150px;
    height: 150px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.713);
    margin: 5px;
    font-family: 'Orbitron';
    border-radius: 3px;

}

.taskTile:hover{
    box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.713);
    z-index: 500;
}

.markComplete{
    cursor: pointer;
}

.taskHeader{
    background-color: #DADF60;

    color:#163640;
    gap:10px;
    align-items: center;

    padding-right: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.priorityCircle{

    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.TaskBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 117px;
}

.taskDescription{
    color: #71DADA;

    overflow-wrap: anywhere;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    height: 65px;
}

.noteDescription{
    color: #71DADA;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    overflow-wrap: anywhere;
    overflow: hidden;

}

.taskClient{
    text-align: center;
    color: #DADF60;

    height: 25px;
    overflow-wrap: anywhere;
    overflow: hidden;


}

.optionsBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    height: 25.5px;
    gap: 20px;

}

.optionsLeft{
    height: 26px;
    gap: 20px;
}

.optionsLeft > input{
    padding: 0 4px;
    text-decoration: none;
}

.optionsLeft input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.optionsLeft label {
    display: inline-block;
    padding: 5px 10px;
    height: 14.5px;
    color:#87f0f0;
    background-color: #0d3f36b7;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.293)

}

.optionsLeft label:hover{
    cursor: pointer;

}

.optionsLeft input[type="radio"]:checked + label {
    color:#DADF60;
    background-color: #0d3f36b7;
    border-bottom: none !important;
    height: 15px;
}

.addLittle{
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 50px;
}


select {
    background-color: #163640;
    color:#71DADA;
    border: 1px solid #DADF60;
    margin: 5px;
    padding: 5px;
}

.dateInput{
    background-color: #163640;
    color:#71DADA;
    border: 1px solid #DADF60;
    padding: 5px;
    margin: 5px;
}
.taskDetailsCont{
    background-color: #163640;
    height: auto;
    width: 650px;

    border-radius: 5px;
}

.formFooter{
    display: flex;
    flex-direction: row;
}
.formFooter button{
    width: 33%
}

.detailsContent{
    display: flex;
    flex-direction: row;
    color:#71DADA;
    text-align:center;
}

.taskSection{
    margin: 10px;
    width: 25%;
    overflow-wrap: break-word;
}

.icon{
    font-size: xx-large;
    margin: 10px;
}

.taskDesc{
    display: flex;
    flex-direction: row;

    justify-content: flex start;
    align-items: center;
    padding-left: 50px;
    padding-right:50px;
}

.dark{
    color:#163640;
}
.taskHeading{
    background-color: #DADF60;
    color:#163640;
    padding: 15px;
    border-radius: 5px 5px 0px 0px;
}
