.landingHeader {
  display: flex;
  flex-direction: row;

  text-align: center;
  color: #71dada; /* Text color on the background image */
  text-shadow: 2px 2px 5px black;
  min-height: 500px;
  background-color: #0a0a0ab4;
}

.headerText {
  text-align: right;
  border-radius: 10px;
  margin: auto;
  font-size: 15px;
}
.headerText {
  font-size: 150%;
}
.headerImage img {
  height: 100%;

  padding-right: 10px;
  padding-left: 30px;
}
.headerSignUpButton {
  height: 50px ;
  width: 80%;
  max-width: 350px;
  background-color: #dbdf60ee;
  color:#023e43;
}

.featureImage img {
  /* max-width: 30%; */
  height: 50px;
}
.landingFeatures {
  background-color: #d7e1dda2;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 25% 25% 25% 25%;
  padding: 20px;
  text-align: right;
}
.emphasis{
  text-decoration:underline;
  text-decoration-color: #dadf60;
}

.landingSectionHead {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
  font-size: 60px;

  color: #163640;
  grid-column: 3;
  grid-row: 2 / 4;
}
#f1 {
  grid-column: 1;
  grid-row: 1;
}

#f2 {
  grid-column: 2;
  grid-row: 2;
}

#f3 {
  grid-column: 1;
  grid-row: 3;
}

#f4 {
  grid-column: 2;
  grid-row: 4;
}

.feature {
  text-align: center;
  border-radius: 40px;
  box-shadow: 2px 2px 2px 2px #0b1c21;
  padding: 10px;
  background-color: #cddbd3bf;
}
.testimonialTitle{
  width: 30%
}
.landingTestimonials {
  display: flex;


  padding: 15px;
  color: #dadf60;
  background-color: #033236bd;
  height: 500px;
  gap: 20px;
  overflow: hidden;
}
.review {
  color: #dadf60;
  overflow: hidden;
}
.testimonial {
  background-color: #0ddef1ac;
  color:#033236;
  text-align: center;
  font-size: 25px;
  width: 350px;
  min-width: 205px;
  border-radius: 50px;
  height: 200px;
  box-shadow: 2px 2px 2px 2px #0b1c21;
}
.testimonialBlock{

  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
}
.landingCTA {
  display: flex;
  flex-direction: column;
  background-color: #42e9f8b0;
  height: 400px;
  padding: 25px;
  font-size: xx-large;
  text-align: center;
  color: #163640;
  justify-content: space-between;

}
.ctaButton{
  height: 50px;
  width: 300px ;
  background-color: #dbdf60c2;
  color:#023e43;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #7b9092;
}
a:hover {
  color: #dadf60;
}
.disclaimer{
  font-size: 8px;
  justify-content: end;
}

@media (max-width: 1200px){

  .NavBarCont{
    width: 90vw;
    padding: 10px;

  }
  .landingHeader{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 30px;


  }
  .headerText{
    text-align: center;
    width: 95vw;
    font-size: large;
  }
  .headerImage img{
    width: 90vw;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

  }
  .headerSignUpButton{
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
  }

  .landingFeatures{
    display: flex;
    flex-direction: column;
    text-align: center;

  }
  .feature{
    margin: 10px;
    width: 50%;
    min-width: 250px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .landingTestimonials{
    display: flex;
    flex-direction: column;
    height:auto;
  }
  .testimonialTitle{
    width: 80%;
  }

  .testimonialBlock{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .landingCTA{
    height: auto;
  }
  .ctaButton{
    width: 60%;
    max-width: 300px;
  }
}
