/* TODO Add site wide styles */
@font-face {
    font-family: 'Kirsty';
    src: url('./fonts/Kirsty/Kirsty.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }


#root{
  height: 100vb;
  overflow: scroll;
}


body{
  margin: 0;
  padding: 0;
  background-color: #163640;
}

.errors{
  color: rgb(231, 82, 82);
  text-align: start;
}

.alignRight{
  margin-right: 5px
}

.landingFooter{
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 10px;
  width: 95%;
  margin: 10px;
}
