/* TODO Add site wide styles */
@font-face {
    font-family: 'Kirsty';
    src: url('./fonts/Kirsty/Kirsty.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Orbitron';
    src: url('./fonts/Orbitron/static/Orbitron-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }

#root{
  background-color: #013358;
  height: 100vh
}

body{
  margin: 0;
  padding: 0;
}
