/* TODO Add site wide styles */
@font-face {
    font-family: 'Kirsty';
    src: url('./fonts/Kirsty/Kirsty.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
  }


#root{
  height: 100%;
  background-image: url('./images/BantamBackground.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;


}

.strongColor{
  color: #A5C78A;
}

.accentColor{
  color: #4D9D9A
}

.shadowBox{
  background-color: #0e271888;
}



body{
  margin: 0;
  padding: 0;
  background-color: #14313a;
}

.errors{
  color: rgb(231, 82, 82);
  text-align: start;
}

.page{
height: 720px;

}

.landingFooter{
  display: flex;
  justify-content: space-between;
  position: static;
  bottom: 0px;
  padding-right: 20px;




}
