.clientPageCont{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 150px 235px 235px;
    width: 100%;
    height: 92%;
}

.clientNav{
    grid-row: 1 /span 3
}

.clientInfo{
    padding: 5px;
    margin-left: 20px;
    margin-right: 10px;
    background-color:#a9c3b811;
    color: #F26641;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height:  200px;
    min-width: 40%;

}

.clientName{
    font-family: 'Kirsty';
    font-size: 25px;
    color:#F26641;
    margin-top: 15px;

}
.clientContact{
    color: #A9C3B8;
    font-family: 'Orbitron';
    font-size: 12px;


}

.upcomingAppt{
    background-color:#a9c3b811;
    color: #A9C3B8;
    width: 95%;
    margin-right: 30px;
    max-height: 200px;
    overflow: hidden;


}
.add{
    text-align: center;
}

.notes{
    grid-column: 2/ span 2;

}

.task{

   grid-column: 2/ span 2;
}
.taskDueDate{
    text-align: center;
}

.messages {

    grid-column: 2/ span 2;
}

.editCreateCont{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-family: 'Kirsty';
    background-color: #163640;
    box-shadow: 2px 2px 5px black;


}
.formHeading{
    color:#F26641;
}
.formTextArea{
    height: 150px;
    width: 150px;
    text-align: left;
    vertical-align: top;
    margin: 5px;
    background-color: #A9C3B8
}
.formBody{
    color:#A9C3B8;
    font-family: 'Orbitron';
    display: flex;
    flex-direction: column;

}

.orange{
    color: #F26641
}

.simpleButton{
    margin: 20px;
    width: 150px;
    background-color: #163640;
    color: #A9C3B8;
    border: 1px solid #F26641;

}

.simpleButton:hover{
    box-shadow: 2px 2px 2px black;
    color:#163640;
}


.clientRadioInput {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .clientRadioInput:checked + .clientRadioLabel {
    background-color: #F26641;
    color: #163640;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.524);
  }

  .clientRadioLabel {
    position: relative;
    width: 100%;
    cursor: pointer;
    background-color: #163640;
    grid-row: 1 / span 4;
    height: 100%;
    overflow-y: auto;
    color: #A9C3B8;
    display: flex;
    align-items: center;
  }


  .clientRadioLabel::before {
    content: "";

    margin-right: 10px;
  }


  .clientRadioInput:checked + .clientRadioLabel::before {
    background-color: #F26641;
  }

.clientOption{
    border-bottom: 1px solid #A9C3B8;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron';
    cursor: pointer;
}


.addClientContainer{
    background-color: #163640;
    color: #A9C3B8;
    padding: 20px;
    width: 400px;
    align-items: center;


}
.search{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.searchItem{
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.searchRes{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.small{
    width: 100px;
}

.userMenuLink{
    cursor: pointer;
    color: #163640;
    font-family: 'Orbitron';
}
.userMenuLink:hover{
    color:#F26641
}
.userGreeting{
    color: #163640;
    font-family: 'Kirsty';
    font-size: 20px;
}

.noteHeader{
    text-align: center;
    background-color: #F26641;
    color:#163640;
    height: 25px;
}
