.clientPageCont{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    width: 100%;
    height: 100%;
    max-height: 85vh; /* Set a maximum height to fit within the viewport */
    overflow-y: hidden;


}

.clientInfo{
    padding: 5px;
    margin-right: 5px;
    background-color:#a9c3b811;
    color: #F26641;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clientName{
    font-family: 'Kirsty';
    font-size: x-large;
    color:#F26641;

}
.clientContact{
    color: #A9C3B8;
    font-family: 'Orbitron';
    font-size: 12px;

}

.upcomingAppt{
    background-color:#a9c3b811;
    color: #A9C3B8;

}

.notes{
    grid-column: 2/ span 2;

}

.task{

   grid-column: 2/ span 2;
}
.taskDueDate{
    text-align: center;
}

.messages {

    grid-column: 2/ span 2;
}

.editCreateCont{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-family: 'Kirsty';
    background-color: #163640;
    box-shadow: 2px 2px 5px black;


}
.formHeading{
    color:#F26641;
}
.formTextArea{
    height: 150px;
    width: 150px;
    text-align: left;
    vertical-align: top;
    margin: 5px;
    background-color: #A9C3B8
}



.clientRadioInput {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .clientRadioInput:checked + .clientRadioLabel {
    background-color: #F26641;
    color: #163640;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.524);
  }

  .clientRadioLabel {
    position: relative;
    width: 100%;
    cursor: pointer;
    background-color: #163640;
    grid-row: 1 / span 4;
    height: 100%;
    overflow-y: auto;
    color: #A9C3B8;
    display: flex;
    align-items: center;
  }


  .clientRadioLabel::before {
    content: "";

    margin-right: 10px;
  }

 
  .clientRadioInput:checked + .clientRadioLabel::before {
    background-color: #F26641;
  }

.clientOption{
    border-bottom: 1px solid #A9C3B8;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron';
    cursor: pointer;
}
