.bookingHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.bookingCont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}
.bookingDetails{
    display: flex;
    flex-direction: column;
    margin: 10px;


}

.bookingTile{
    background-color: #A9C3B8;
    margin: 2px;
    padding: 10px;
    width: fit-content;
    color: #163640;
}

.bookingOverview{
    background-color: #16364075;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.bookingOverview:hover{
    background-color: #22526175;
    box-shadow: 2px 2px 2px #112a3175;
}

.overviewTitle{
    color: #F26641
}

.rbc-agenda-event-cell:hover{
    background-color: #F26641;
    cursor: pointer;
    color:black !important;
}
