.profile-dropdown {
  position: absolute;
  right: 10px;
  top: 30px;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
.NavBarCont{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}
.logo{
  height:45px;
}
.bantam{
  font-family: 'Kirsty';
  color: #dadf60;
 padding-left: 15px;
  font-size: x-large;

}

.userIcon{
  color: #dadf60;
  height: 25px;
  cursor: pointer;
  margin: 15px;
}
.userIcon:hover{
  color:#abae4c;
}

.signedInBar{
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;

}

.userBar {
    font-family: 'Kirsty';
    color: #71CDD4;
    padding: 20px;
    text-decoration: none;
}

.userBar.active{
  background-color: #0d3f36b7;;

  color: #E0FFE9;


}
