.profile-dropdown {
  position: absolute;
  right: 10px;
  top: 80px;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
.NavBarCont{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #61d4ca7d;
  justify-content: space-between;

}
.logo{
  height:45px;
}
.bantam{
  font-family: 'Kirsty';
  color: #333333;
 padding-left: 15px;
  font-size: x-large;

}

.userIcon{
  color: #333333;
  height: 25px;
  cursor: pointer;
  margin: 15px;

}

.signedInBar{
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;

}

.userBar {
    font-family: 'Kirsty';
    color: #333333;
    padding: 20px;
    text-decoration: none;
}

.userBar.active{
  background-color: #174348;

  color: #DBDBDB;
  box-shadow: 2px 2px 10px rgb(72, 72, 72);

}
