.componentTitle{
    font-family: 'Kirsty';
    color:#DBDBDB;
    margin: 10px;
    font-size: x-large;


}

.sliceCont{
    display: flex;
    flex-direction: row;
    background-color:#54b6aa42;
    padding: 5px;
    margin: 5px;
    height: 160px;
    width: 98%;
    overflow-x: auto;
    overflow-y: hidden;


}
.componentHeader{
    gap: 15px;
    display: flex;
    flex-direction: row
}
.componentMenu{
    margin-top: 15px;
    color:#DBDBDB;;

}
