.componentTitle{
    font-family: 'Kirsty';
    color:#A9C3B8;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: x-large;



}

.sliceCont{
    display: flex;
    flex-direction: row;
    background-color:#a9c3b811;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    height: 160px;
    width: 95%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid rgba(0, 0, 0, 0.293)
}
.scrollable-content{
    width: 95%;
    display:flex;
    flex-direction: row;
    overflow: hidden;
}
.scroll-button {


    height: 95%;
    width: 30px; /* Set the width of the scroll buttons */
   /* Make them transparent */
    background-color: #163640;
    color: #A9C3B8;
    cursor: pointer;
    font-size: 24px; /* Adjust the font size for arrow buttons */
  }




.componentHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.componentMenu{
    margin-top: 15px;
    color:#A9C3B8;

}

.dashboard{
    display: flex;
    flex-direction: column;

}
.dashboardHeader{
    display: flex;
    flex-direction: row;
}
